## Stylesheet for the "Dates.Days" website
Created on Nov 21, 2015

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

#container {

}

.bg-sheet {
  position: relative;
  background-color: #f4f6ec;
  width: 90%;
  height: 1000px;
  margin: 0 auto;
  padding: 0;
  box-shadow: 0 0 20px #fbfbf4;
}

.bg-shadow {
  position: absolute;
  width: 30px;
  background-color: #f2f4e9;
  height: 1000px;
  box-shadow: 0 0 15px #fbfbf4;
}

#left {
  left: -20px;
}

#right {
  right: -20px;
}

#leftup-block {
  margin: 40px 40px 20px 40px;
  float: left;
}

.date-block {
  height: 50px;
  border-top: 2px solid white;
  border-right: .5px solid white;
}

#date {
  width: 80px;
  background-color:  #9c997f;
  float: left;
}

#month {
  width: 150px;
  background-color: #bbbaa6;
  border: 2px solid white;
  float: left;
}

#go-button {
  float: left;
}

h3 {
  margin: 0;
  font-family: 'Roboto Slab', 'Halant' serif;
  font-size: 40px;
  color: #838591;
}

#title-date {
  position: relative;
  padding: 40px;
  left: 15%;
}

#hero {
  margin: 0;
  position: relative;
  top: 4px;
  left: -90px;
  width: 100%;
  padding: 0;
}

#hero img {
  margin: 0;
  width: 120%;
}

#dates {
  position: absolute;
  top: 170px;
  left: 30%;
  z-index: 1;
}

#dates img {
  margin: auto;
}

#redline-container {
  position: relative;
}

.redline {
  position: absolute;
  left: -20px;
  right: -20px;
  margin: 0 auto;
}

#mainline {
  height: 20px;
  background-color: #b69494;
  border: 3px solid #c6a4a8;
}

#shadowline {
  top: 20px;
  height: 10px;
  background-color: #ac8686;
  border: 2px solid #ba9c9a;
}

#sidebar {
  position: absolute;
  top: 150px;
  left: 50px;
  width: 305px;
  height: 600px;
  background-color: #848484;
  opacity: 0.5;
  border: 2px solid #dad7c8;
  border-radius: 10px;
}

#choose-date {
  position: absolute;
  left: 50px;
  top: 170px;
  width: 307px;
  box-sizing: border-box;
  background-color: #916464;
  border: 1px solid #9e7671;
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 1.2em;
  color: white;
  text-align: center;
  padding: 10px;
}

#datepicker {
  position: absolute;
  left: 50px;
  top: 245px;
  width: 100%;
}
