/* Stylesheet for the "Dates.Days" website
Created on Nov 21, 2015 */

/**********
GENERAL STYLES
***********/

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
  position: absolute;
  top: 100px;
  left: 0;
  width: 1900px;
  height: 740px;
  z-index: 20;
}

p, h2, h3 {
  font-family: 'PT Sans', sans-serif;
  color: #553a26;
  -webkit-transition: .25s all linear;
  -moz-transition: .25s all linear;
  -o-transition: .25s all linear;
  transition: .25s all linear;
  -webkit-font-smoothing: antialiased;
}

p {
  font-size: 18px;
  line-height: 35px;
}

h3 {
  font-size: 21px;
}

a {
  color: #916464;
}

h1 {
  display: inline-block;
  margin: 0;
  font-family: 'Roboto Slab', 'Tinos', 'PT Serif', sans-serif;
  color: #6e5d50;
  font-size: 25pt;
  letter-spacing: 3px;
}

h2 {
  margin: 40px 0 0 0;
  font-weight: bold;
}

h3 {
  margin: 10px 0 0 0;
  font-weight: bold;
}

.normal-leading {
  line-height: 1.6;
}

.grey {
  color: #838692;
}

.transparent {
  opacity: .5;
}

.increase-fontSize {
  font-size: 1.15em;
  -webkit-transform: translate(-2px, -2px);
  -o-transform: translate(-2px, -2px);
  -moz-transform: translate(-2px, -2px);
  transform: translate(-2px, -2px);
}

/**********
BACKGROUND
***********/

.bg-sheet {
  position: absolute;
  left: 5%;
  background-color: #f5f7fb;
  width: 90%;
  height: 1700px;
  margin: 0 auto;
  padding: 0;
  box-shadow: 0 0 20px #fbfbf4;
}

.bg-shadow {
  position: absolute;
  width: 30px;
  background-color: #e4e7e9;
  height: 1700px;
  box-shadow: 0 0 15px #fbfbf4;
}

#left {
  left: -20px;
}

#right {
  right: -20px;
}

/**********
DATEPICKER FIELDS
***********/

.top-bar {
  margin: 0;
  /* padding: 30px 40px 7px 40px;  */
  padding: 30px 40px 25px 125px;
  background-color: #f4f6ec;
  border-bottom: 1px solid #b69494;
}

.date-block {
  border: 2px solid white;
  border-radius: 5px;
}

.day,
.month {
  color: #4a5894;
  text-align: center;
  text-transform: uppercase;
  font-family: 'PT Sans Caption', sans-serif;
  padding: 10px;
  margin: 0;
  font-size: 20px;
  box-sizing: border-box;
/*  border-right: .5px solid white; */
  float: left;
  -webkit-transition: .25s background-color linear;
  -moz-transition: .25s background-color linear;
  -o-transition: .25s background-color linear;
  transition: .25s background-color linear;
}

.day {
  width: 80px;
  background-color:  #9c997f;
}

.month {
  width: 170px;
  background-color: #bbbaa6;
  margin-left: 1px;
}

.light {
  position: relative;
  top: 1px;
  background-color: #f4f6ec;
  border: 1px solid #9c997f;
}

.button {
  background-color: #b36665;
  width: 46px;
  height: 46px;
  float: left;
  transition: box-shadow .25s linear;
}

.button:hover {
  box-shadow: 0 0 10px #b3bcee;
}

.arrow {
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-left: 24px solid white;
  border-bottom: 12px solid transparent;
  margin-top: 11px;
  margin-left: 13px;
}


/**********
DATES ON TOP
***********/

.title-date {
  position: relative;
  margin: 5px auto;
  left: 20%;
}

/**********
HERO AREA
***********/

#hero {
  margin: 0;
  position: relative;
  top: 4px;
  left: -90px;
  width: 100%;
  padding: 0;
  z-index: 1;
}

#dates {
  position: absolute;
  top: 70px;
  left: 30%;
  z-index: 1;
}

#dates img {
  margin: 10px 30px;
}

/**********
SIDEBAR
***********/

.sidebar  {
  position: absolute;
  top: 115px;
  left: 120px;
  width: 310px;
  height: 550px;
  padding: 30px;
  box-sizing: border-box;
  z-index: 10;
}

.sidebar-container {
  background-color: #848484;
  border: 2px solid #dad7c8;
  border-radius: 10px;
}

.sidebar p {
  font-size: 15px;
  color: #142b38;
  line-height: 25px;
}

.fixed {
  position: fixed;
}

#choose-date {
  position: relative;
  left: -28px;
  top: -10px;
  width: 305px;
  box-sizing: border-box;
  background-color: #916464;
  border: 1px solid #9e7671;
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 1.2em;
  color: white;
  text-align: center;
  padding: 10px;
}

#datepicker {
  position: relative;
  left: -30px;
  top: 5px;
  margin-bottom: 20px;
  z-index: 10;
  display: block;
}

/**********
RED LINES
***********/

#mainline, #shadowline {
  position: absolute;
  left: -20px;
  right: -20px;
  margin: 0 auto;
}

#mainline {
  height: 15px;
  background-color: #bb8b8b;
  border: 2px solid #c09696;
  z-index: 2;
}

#shadowline {
  height: 23px;
  background-color: #ac8686;
  border: 2px solid #ba9c9a;
  z-index: 1;
}

/***********
SELECTED BLOCK
***********/

.wrapper {
  width: 75%;
  margin: 0 auto;
  /*border: 1px solid green; */
}

.slct-container,
.tags-container {
  position: relative;
  display: inline-block;
  margin-top: 60px;
}

.slct-container {
  width: 74%;
  /*border: 1px solid blue; */
}

.tags-container {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  width: 23%;
  height: 800px;
  background-color: #b5bbcd;
  border: 2px solid #f2be21;
  margin-right: 10px;
}

.selected,
.hover-sheet,
.divider {
  width: 86%;
  margin-left: 10px;
}

.selected {
  height: 70px;
  border: 3px solid #b3bcee;
}

#brown, #yellow {
  display: inline-block;
  float: left;
  height: 70px;
  box-sizing: border-box;
  border: 1px solid #f6f4d4;
}

#brown {
  width: 20%;
  margin: 0;
  background-color: #d7cea4;
}

#yellow {
  display: inline-block;
  width: 80%;
  margin: 0;
  padding: 17px;
  background-color: #f3e8af;
  text-align: right;
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 24px;
  color: #553a26;
  }

/******* ITEMS ******/

.control-hover {
  position: relative;
  padding: 0;
  margin-top: 20px;
/*  border: 1px solid green; */
}

.item {
  width: 100%;
  margin: 0;
  padding: 0;
  float: left;
  height: 185px;
  overflow: hidden;
/*  border: 1px solid red; */
}

.day-circle {
  display: inline-block;
  float: left;
  width: 120px;
  padding: 15px;
  vertical-align: top;
  box-sizing: border-box;
/*  border: 1px solid orange; */
}

.main {
  width: 170px;
}

.text-container {
  display: inline-block;
  max-width: 75%;
  margin-top: 20px;
/*  border: 1px solid blue; */
}

.non-transparent {
  opacity: 1;
}

.hover-sheet {
  position: relative;
  left: 0;
  top: -15px;
  height: 229px;
  border: 2px solid #f5f7fb;
  border-radius: 70px;
  float: left;
  background-color: #f5f7fb;
  -webkit-transition: .5s background-color linear;
  -moz-transition: .5s background-color linear;
  -o-transition: .5s background-color linear;
  transition: .5s background-color linear, .1s border linear;
}

.divider {
  height: 3px;
  background-color: #e3e4d5;
  margin-top: 20px;
  -webkit-transition: .25s all linear;
  -moz-transition: .25s all linear;
  -o-transition: .25s all linear;
  transition: .25s all linear;
  -webkit-font-smoothing: antialiased;
}

.red-square {
  display: inline-block;
  /*display: none; */
  width: 13px;
  height: 18px;
  margin: 100px 50px 80px 50px;
  border-radius: 2px;
  background-color: #f5f7fb;
  -webkit-transition: background-color .25s;
  -moz-transition: background-color .25s;
  -o-transition: background-color .25s;
  transition: background-color .25s;
  /*border: 1px solid black; */

}

/*** Overflow Functionality ******/

.ellipsis {
  display: block;
  position: absolute;
  top: 150px;
  right: 15px;
  height: 30px;
  width: 30px;
  padding: 5px;
  box-sizing: border-box;
  background-color: #f5f7fb;
  color: #bda492;
  box-shadow: -10px 0px 20px #f5f7fb;
  -webkit-transition: .5s all linear;
  -moz-transition: .5s all linear;
  -o-transition: .5s all linear;
  transition: .5s all linear;
  /*  border: 1px solid blue; */
}


/****************
INNER PAGES
****************/

#vertical-logo {
  display: inline;
  float: left;
  padding: 10px;
  margin-left: 20px;
}

.container {
  position: relative;
  width: 50%;
  margin-left: 470px;
  margin-top: 20px;
  border: 1px solid blue;
}

.left-bar {
  display: inline-block;
  /*border: 1px solid green; */
  vertical-align: top;
}
