/* Stylesheet for the "Dates.Days" website
Created on Nov 21, 2015 */

/**********
GENERAL STYLES
***********/

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
  position: absolute;
  top: 100px;
  left: 0;
  width: 1900px;
  height: 740px;
}

p, h2, h3 {
  font-family: 'PT Sans', sans-serif;
  color: #553a26;

}

p, h2, h3, p > a {
  -webkit-transition: .25s all linear;
  -moz-transition: .25s all linear;
  -o-transition: .25s all linear;
  transition: .25s all linear;
  -webkit-font-smoothing: antialiased;
}

p {
  font-size: 18px;
  line-height: 35px;
}

h3 {
  font-size: 21px;
}

a {
  color: #916464;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  display: inline-block;
  margin: 0 0 0 200px;
  font-family: 'Roboto Slab', 'Tinos', 'PT Serif', sans-serif;
  color: #6e5d50;
  font-size: 25pt;
  letter-spacing: 3px;
}

h2 {
  margin: 40px 0 0 0;
  font-weight: bold;
}

h3 {
  margin: 10px 0 0 0;
  font-weight: bold;
}

.normal-leading {
  line-height: 1.6;
}

.grey {
  color: #838692;
}

.increase-fontSize {
  font-size: 1.15em;
  -webkit-transform: translate(-2px, -2px);
  -o-transform: translate(-2px, -2px);
  -moz-transform: translate(-2px, -2px);
  transform: translate(-2px, -2px);
}

footer {
  position: relative;
  background-color: #8d96b0;
  height: 100px;
  text-align: center;
  margin: 0;
}

footer p {
  color: white;
  font-size: .9em;
  margin-top: 2px;
}

.shift-up {
  top: -20px;
}

/**********
BACKGROUND
***********/

.bg-sheet {
  position: relative;
  background-color: #f5f7fb;
  width: 90%;
  margin: 0 auto;
  padding: 0;
  box-shadow: 0 0 20px #fbfbf4;
  z-index: 0;
}

.bg-shadow {
  position: absolute;
  width: 2%;
  background-color: #e4e7e9;
  height: 100%;
  box-shadow: 0 0 15px #fbfbf4;
}

#left {
  left: -20px;
}

#right {
  right: -20px;
}

.red-divider {
  position: relative;
  height: 1px;
  width: 100%;
  margin: 0 0 5px 0;
  border-top: 1px solid #b69494;
  z-index: 5;
  }

/**********
DATEPICKER FIELDS
***********/

.top-bar {
  position: relative;
  margin: 0;
  /* padding: 30px 40px 7px 40px;  */
  padding: 30px 40px 25px 125px;
  background-color: #f4f6ec;
  border-bottom: 1px solid #b69494;
  z-index: 2;
}

.datepicker-fields  {
  border: 1px solid white;
  border-radius: 5px;
}

.day,
.month {
  text-align: center;
  text-transform: uppercase;
  font-family: 'PT Sans Caption', sans-serif;
  padding: 10px;
  margin: 0;
  font-size: 20px;
  box-sizing: border-box;
/*  border-right: .5px solid white; */
  float: left;
  -webkit-transition: .25s all linear;
  -moz-transition: .25s all linear;
  -o-transition: .25s all linear;
  transition: .25s all linear;
}

.day {
  width: 80px;
}

.month {
  width: 170px;
  margin-left: 1px;
}
.date-block.absolute .day {
  background-color:  #9c997f;
}

.date-block.absolute .month {
  background-color: #bbbaa6;
}
#button {
  position: relative;
  left: 1px;
  background-color: #b36665;
  width: 46px;
  height: 46px;
  float: left;
  transition: .25s all linear;
  -webkit-transition: .25s all linear;
  -moz-transition: .25s all linear;
  -o-transition: .25s all linear;
  transition: .25s all linear;
}
#button:hover {
  box-shadow: 0 0 10px #b3bcee;
}
.arrow {
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-left: 24px solid white;
  border-bottom: 12px solid transparent;
  margin-top: 11px;
  margin-left: 13px;
}
/* .date-block styles for inner page */
.date-block.fixed .day,
.date-block.fixed .month {
  background-color: transparent;
}
.light {
  border: 1px solid #9c997f;
}
.date-block.fixed #button {
  border: 1px solid #B69494;
}

/**********
DATES ON TOP
***********/

.title-date {
  margin: 5px auto;
  text-align: center;
}
.personal-notes {
  letter-spacing: 1px;
  font-size: 20px;
  text-transform: uppercase;
}

/**********
HERO AREA
***********/

.hero {
  margin: 0;
  position: relative;
  top: 4px;
  padding: 0;
  overflow: hidden;
  min-height: 700px;
  background: url("../Pics/hero-photo-vinnette(3).jpg") no-repeat center center;
  z-index: 1;
}

.hero img {
/*  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  min-height: 100%; */
}

.dates {
  position: absolute;
  top: 170px;
  left: 35%;
  margin: 0 auto;
  z-index: 5;
}

.dates img {
  position: relative;
  margin: 0 auto;
}

/**********
SIDEBAR
***********/

.sidebar  {
  top: 117px;
  left: 120.5px;
  padding: 30px;
  width: 312px;
  height: 685px;
  box-sizing: border-box;
  z-index: 10;
}

.sidebar-container {
  background-color: #848484;
  border: 2px solid #dad7c8;
  border-radius: 10px;
}

.sidebar p {
  margin-top: 35px;
  font-size: 15px;
  color: #142b38;
  line-height: 30px;
}

.fixed {
  position: fixed;
  z-index: 3;
}

.absolute {
  position: absolute;
}

#choose-date {
  position: relative;
  left: -27px;
  top: -10px;
  width: 306px;
  box-sizing: border-box;
  background-color: #916464;
  border: 1px solid #9e7671;
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 1.2em;
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}

#datepicker {
  position: relative;
  left: -28px;
  top: 5px;
  margin-bottom: 20px;
  z-index: 10;
  display: block;
}

/**********
RED LINES
***********/

#mainline, #shadowline {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

#mainline {
  height: 15px;
  background-color: #bb8b8b;
  border: 2px solid #c09696;
  z-index: 2;
}

#shadowline {
  height: 23px;
  background-color: #ac8686;
  border: 2px solid #ba9c9a;
  z-index: 1;
}

/***********
SELECTED BLOCK
***********/

.slct-container {
  position: relative;
  display: inline-block;
  margin-top: 60px;
  margin-bottom: 40px;
  /*border: 1px solid blue; */
}

.selected {
  margin-bottom: 70px;
  font-family: Roboto Slab;
  font-size: 45px;
  text-align: center;
  color: #606baf;
}

/******* ITEMS ******/

.control-hover {
  position: relative;
  width: 100%;
  height: 200px;
  padding: 0;
  margin-top: 20px;
/*  border: 1px solid green; */
}

.item {
  width: 100%;
  margin: 0;
  padding: 0;
  float: left;
  height: 185px;
  overflow: hidden;
  /*border: 1px solid red; */
}

.day-circle {
  display: inline-block;
  float: left;
  box-sizing: border-box;
/*  border: 1px solid orange; */
}

.main {
  width: 22%;
  padding: 1%;
}

.text-container {
  display: inline-block;
  max-width: 70%;
  margin-top: 20px;
  margin-bottom: 100px;
  padding: 10px;
/*  border: 1px solid blue; */
}

.non-transparent {
  opacity: 1;
}

.mid-transparent {
  opacity: .5;
}

.transparent {
  opacity: 0;
}

.come-in {
  -webkit-animation: come-in 0.8s ease forwards;
}

.come-in {
  animation: come-in 0.8s ease forwards;
}

@-webkit-keyframes come-in {
  from {
      -webkit-transform: translateY(15px);
      -webkit-opacity: 0;
  }
  to { -webkit-transform: translateY(0);
       -webkit-opacity: 1;
      }
}

@keyframes come-in {
  from {
      transform: translateY(15px);
      opacity: 0;
  }
  to { transform: translateY(0);
       opacity: 1;
      }
}

.already-visible {
  animation: none;
}

.hover-sheet {
  position: relative;
  top: -20px;
  height: 205px;
  margin-left: 10px;
  border: 1px solid #f5f7fb;
  border-radius: 70px;
  float: left;
  background-color: #f5f7fb;
  box-shadow: 0 0 5px solid #f5f7fb;
  -webkit-transition: .5s background-color linear;
  -moz-transition: .5s background-color linear;
  -o-transition: .5s background-color linear;
  transition: .5s background-color linear, .1s border linear;
}

.hover-sheet:hover {
  background-color: #dcd9d4;
  border: 1px solid #f6efe0;
  box-shadow: 0 0 4px #b3bcee;
}

.red-square {
  display: inline-block;
  width: 13px;
  height: 18px;
  float: right;
  margin-top: 90px;
  margin-right: 50px;
  border-radius: 2px;
  background-color: #f5f7fb;
  -webkit-transition: background-color .25s;
  -moz-transition: background-color .25s;
  -o-transition: background-color .25s;
  transition: background-color .25s;
  /*border: 1px solid black; */
}

/*** Overflow Functionality ******/

.ellipsis {
  display: block;
  position: absolute;
  top: 155px;
  right: 15px;
  height: 30px;
  width: 30px;
  padding: 5px;
  box-sizing: border-box;
  background-color: #f5f7fb;
  color: #bda492;
  font-size: 1.1em;
  box-shadow: -10px 0px 20px #f5f7fb;
/*  -webkit-transition: font-size .25s linear, background-color .5s linear, color .5s linear, box-shadow .5s linear;
  -moz-transition: font-size .25s linear, background-color .5s linear, color .5s linear, box-shadow .5s linear;
  -o-transition: font-size .25s linear, background-color .5s linear, color .5s linear, box-shadow .5s linear;
  transition: font-size .25s linear, background-color .5s linear, color .5s linear, box-shadow .5s linear;
*/
  -webkit-transition: .5s all linear;
  -moz-transition: .5s all linear;
  -o-transition: .5s all linear;
  transition: .5s all linear;
  /*  border: 1px solid blue; */
}

/****************
TAGS PAGES
****************/

.tags-container {
  position: relative;
  top: 20px;
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  text-align: center;
  height: 820px;
  padding: 20px;
  background-color: #d3d7e6;
  margin-right: 10px;
  box-sizing: border-box;
}

.tags-container p {
  line-height: 50px;
}

.tags-container a {
  display: inline-block;
  color: #a9aaac;
  text-decoration: none;
}

.tags-container a:hover {
  color: #936565;
  text-decoration: none;
}

.size-1 {
  font-size: 1.1em;
}

.size-2 {
  font-size: 1.2em;
}

.size-3 {
  font-size: 1.3em;
}

.size-4 {
  font-size: 1.4em;
}

.size-5 {
  font-size: 1.5em;
}

.size-10 {
  font-size: 2em;
}

.size-12 {
  font-size: 2.2em;
}

/****************
INNER PAGES
****************/
.date-block.fixed {
  top: 30px;
  left: 126px;
}
.sidebar.fixed.mid-transparent {
  background-color: white;
}
.sidebar.fixed {
  height: 325px;
}
.inner-background {
  position: absolute;
  top: 60px;
  left: -40px;
  z-index: 1;
  display: none;
}
.container {
  position: relative;
  width: 50%;
  margin-left: 400px;
/*  border: 1px solid blue; */
}

.left-bar {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin: 0;
  /*border: 1px solid green; */
}

.inner {
  width: 90%;
  margin-top: 20px;
}

.logo {
  position: absolute;
  -webkit-transition: .25s opacity linear;
  -moz-transition: .25s opacity linear;
  -ms-transition: .25s opacity linear;
  -o-transition: .25s opacity linear;
  transition: .25s opacity linear;
  z-index: 2;
}
a.logo:hover {
  text-decoration: none;
}
.box {
  overflow: hidden;
  padding: 10px;
  margin-left: 20px;
  z-index: 1;
/*  border: 1px solid blue; */
}
.vertical,
.horizontal {

}
.home-slide {
  position: absolute;
  top: -165px;
  left: -75px;
  color: #797f99;
  font-family: 'Roboto Slab', 'Tinos', 'PT Serif', sans-serif;
  font-size: 40px;
/*  background-color: #f2f2f2; */
  padding: 10px;
  white-space: nowrap;
  border: 1px solid #b69494;
  z-index: 1;
  -webkit-transform: rotate(-90deg);
     -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
       -o-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: .25s all linear;
  -moz-transition: .25s all linear;
  -o-transition: .25s all linear;
  transition: .25s all linear;
}

.slide-down {
  -webkit-animation: slide-down 1s ease forwards;
          animation: slide-down 1s ease forwards;
}

@-webkit-keyframes slide-down {
  from {
    -webkit-transform: translateY(0) rotate(-90deg);
    }
  to {
    -webkit-transform: translateY(282px) rotate(-90deg);
    }
}

@keyframes slide-down {
  from {
    transform: translateY(0) rotate(-90deg);
    }
  to {
    transform: translateY(282px) rotate(-90deg);
    }
}

@keyframes slide-down-h {
  from {
    transform: translateY(0);
    }
  to {
    transform: translateY(180px);
    }
}

@keyframes slide-down-hx2 {
  from {
    transform: translateY(0);
    }
  to {
    transform: translateY(230px);
    }
}
@-webkit-keyframes slide-down-hx2 {
  from {
    -webkit-transform: translateY(0);
    }
  to {
    -webkit-transform: translateY(230px);
    }
}

.slide-up {
  -webkit-animation: slide-up 0.4s ease forwards;
  animation: slide-up 0.4s ease forwards;
}

@-webkit-keyframes slide-up {
  from {
    -webkit-transform: translateY(282px) rotate(-90deg);
  }
  to {
    -webkit-transform: translateY(0) rotate(-90deg);
  }
}

@keyframes slide-up {
  from {
    transform: translateY(282px) rotate(-90deg);
  }
  to {
    transform: translateY(0) rotate(-90deg);
  }
}

@keyframes slide-up-h {
  from {
    transform: translateY(180px);
  }
  to {
    transform: translateY(0);
  }
}

@-webkit-keyframes slide-up-hx2 {
  from {
    -webkit-transform: translateY(230px);
  }
  to {
    -webkit-transform: translateY(0);
  }
}
@keyframes slide-up-hx2 {
  from {
    transform: translateY(230px);
  }
  to {
    transform: translateY(0);
  }
}


/*************
MEDIA QUERIES
*************/

/**** Kindle */
@media screen and (min-width: 1901px) {
  .bg-sheet {
    width: 1860px;
  }
  #mainline, #shadowline {
    width: 1896px;
  }
}

/**** Widescreen */
@media screen and (min-width: 1401px) {
  .top-bar {
    background: url("../Pics/hero-photo-vinnette(3).jpg") no-repeat top center fixed;
  }
  .date-block.fixed .datepicker-fields,
  .date-block.absolute .datepicker-fields {
    border: 1px solid #9c997f;
    background-color: transparent;
    color: white;
  }
  .title-date h1 {
    color: #838692;
  }
  .hero {
    top: 2px;
  }
  .wrapper {
    margin: 0 10% 0 0;
  /*  border: 1px solid green; */
  }
  .slct-container {
    width: 70%;
  }
  .tags-container {
    width: 25%;
  }
  .hover-sheet {
    width: 65%;
    left: 23%;
  }
  .horizontal {
    width: 0;
    height: 0;
  }
  .box {
    position: fixed;
    top: 110px;
    width: 75px;
    height: 500px;
  }

  .white {
    color: white;
  }
  .blue {
    color: #4a5894 !important;
  }
/*  .datepicker-fields.increase #botton {
    border-color: #B69494 !important;
  }*/
}
/**** Regular screen */
/* inner page */
@media screen and (max-width: 1400px) {
  .one-side {
    width: 96%;
    margin: 0 auto 0 0;
    z-index: 0;
  }
  .box {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 2;
  }
  .vertical {
    height: 0;
    width: 0;
  }
  .horizontal {
    display: inline-block;
    position: relative;
  }
  .bg-shadow {
    bottom: 0;
    height: auto;
  }
  .datepicker-fields.day,
  .datepicker-fields.month {
    color: #4a5894;
  }
/*  div.date-block.fixed #button {
    border-color: white;
  } */
}
@media screen and (min-width: 800px) and (max-width: 1400px) {
  .home-slide {
    top: -170px;
    left: auto;
    right: 20%;
    margin: 0 auto;
    width: 230px;
    color: #C0BBC7;
  }
  .container {
    margin-left: 350px;
    width: auto;
  }
  .text-container {
    margin-top: 30px;
    max-width: 65%;
    padding: 0;
  }
  .day-circle {
    margin: 50px 0;
  }
}
@media screen and (min-width: 1161px) and (max-width: 1400px) {
  /* home page */
  .absolute, .fixed {
    left: 20px;
  }
  .date-block.absolute,
  .date-block.fixed {
    left: 26px;
  }
  .wrapper {
    margin: 0 2% 0 0;
  }
  .slct-container {
    width: 65%;
  }
  .tags-container {
    width: 30%;
  }
  .hover-sheet {
    width: 85%;
    left: 10%;
  }
  .red-square {
    position: absolute;
    left: 40px;
    float: none;
  }
  /* inner page */
  .box {
    width: 100%;
    height: 75px;
    background: url("../Pics/hero-photo-vinnette(3).jpg") no-repeat top center fixed;
  }
  .logo {
    margin: 0 0 0 35%;
    height: 75px;
    width: 550px;
  }
  .bg-shadow {
    top: -95px;
  }
  /* horizontal animation */
  .slide-down {
    -webkit-animation: slide-down-h .5s ease forwards;
            animation: slide-down-h .5s ease forwards;
  }
  .slide-up {
    -webkit-animation: slide-up-h 0.7s ease forwards;
    animation: slide-up-h 0.7s ease forwards;
  }
}
/**** iPad */
@media screen and (max-width: 1160px) {
  .personal-notes {
    display: block;
    margin-top: 10px;
  }
  .tags-container {
    top: 0;
    display: block;
    width: 85%;
    height: auto;
    margin: 10px auto;
  }
  /* inner page */
  .box {
    width: 300px;
    height: 190px;
  }
  .bg-shadow {
    top: -210px;
  }
  .logo img:last-child {
    margin-left: 38px;
  }
}

@media screen and (min-width: 801px) and (max-width: 1160px) {
  /* home page */
  .date-block,
  .date-block.fixed {
    left: 26px;
    top: 40px;
  }
  .sidebar {
    left: 20px;
    top: 160px;
  }
  .title-date h1 {
    margin-left: 200px;
  }
  .hero {
    background-position: 37% 40%;
  }
  .dates {
    top: 160px;
    left: 40%;
  }
  .dates img {
    display: block;
  }
  .wrapper {
    margin: 0;
    padding-bottom: 20px;
  }
  .slct-container {
    width: 100%;
  }
  .hover-sheet {
    width: 75%;
    left: 10%;
  }
  .main {
    width: 22%;
    margin: 5px;
  }
  .red-square {
    float: left;
    margin: right: 40px;
    position: relative;
    float: right;
  }
  /* inner pages */
  .box {
    width: 100%;
    background: url("../Pics/hero-photo-vinnette(3).jpg") no-repeat top center fixed;
  }
  .logo {
    width: 300px;
    height: 190px;
    margin: 0 0 0 45%;
  }
  /* horizontal animation */
  .slide-down {
    -webkit-animation: slide-down-hx2 .5s ease forwards;
            animation: slide-down-hx2 .5s ease forwards;
  }
  .slide-up {
    -webkit-animation: slide-up-hx2 0.7s ease forwards;
    animation: slide-up-hx2 0.7s ease forwards;
  }
}
/* hover effect of logo */
@media screen and (min-width: 801px) {
  .logo:hover {
    opacity: 0;
  }
}
/**** Mobile phones */
@media screen and (max-width: 800px) {
  .top-bar {
    height: 70px;
    padding-left: 40px;
  }
  .title-date h1 {
    font-size: 16px;
    margin-left: 0;
  }
  .personal-notes {
    font-size: 18px;
  }
  .hero {
    background: url("../Pics/hero-small(6).jpg") no-repeat center center;
  }
  .date-block {
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 880px;
    width: 301px;
    z-index: 5;
  }
  .month {
    text-transform: none;
  }
  .sidebar {
    height: 325px;
    top: 940px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .sidebar p {
    margin-top: 0;
    line-height: normal;
  }
  .hero {
    height: 550px;
  }
  .dates {
    top: 150px;
    left: 0;
    right: 0;
  }
  .dates img {
    display: block;
  }
  .dates img:first-child {
    width: 350px;
  }
  .dates img:last-child {
    width: 213px;
  }
  .wrapper {
    margin-top: 0px;
  }
  .selected {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .slct-container {
    margin-top: 710px;
  }
  .day-circle {
    margin-top: 20px;
    margin-left: 10px;
  }
  .red-square {
    display: none;
    margin: 0;
  }
  /* inner pages */
  .container {
    margin: 0;
    width: 100%;
  }
  .text-container {
    width: 65%;
    margin-bottom: 30px;
  }
  .container p {
    line-height: 30px;
  }
  .slide-down {
    animation: none;
  }
  .slide-up {
    animation: none;
  }
  .fixed .day,
  .fixed .month {
    background-color: white;
  }
  div.date-block.fixed,
  div.sidebar.fixed {
    z-index: 0;
  }
  div.date-block.fixed {
    top: auto;;
    bottom: 420px;
    left: 0;
  }
  div.sidebar.fixed,
  div.sidebar-container.fixed {
  /*  top: 230px; */
    top: auto;
    bottom: 90px;
  }
  .one-side {
    border-top: 1px solid #b69494;
    border-bottom: 1px solid #b69494;
    margin-bottom: 420px;
    width: 100%;
    /*box-shadow: none; */
  }
  .bg-sheet {
    box-shadow: none;
  }
  .bg-shadow {
    width: 0;
  }
  .box {
    padding: 0;
    width: 100%;
    background: url("../Pics/hero-small(6).jpg") no-repeat top center fixed;
  }
  .logo {
    width: 300px;
    height: 200px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  h2 {
    margin: 10px 0 0 0;
  }
  footer {
    height: 70px;
  }
}
