# Prevent from Index of
Options -Indexes

# Enable .html pages to run PHP
AddHandler php5-script .php .html .htm

# Remove extensions from URLs

RewriteEngine On

#example.com/page will display the contents of example.com/page.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.+)$ $1.html [L,QSA]

#301 from example.com/page.html to example.com/page
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /.*\.html\ HTTP/
RewriteRule ^(.*)\.html$ /$1 [R=301,L]

#301 for any page within directories for years and months (e.g. "2013/Nov")
RedirectMatch 301 ^/201\d/(\D{3}/)?$ /
#RewriteRule ^201\d/(\D{3})?/?$ / [R=301,L] # working line!
